* {
  padding: 0;
  margin: 0;
}

:root {
  --brand-color: #2196f3;
  --text-color: #212121;
  --bg-color: #2f303a;
  --p-color: #757575;
  --white-color: #ffffff;
  --icon-color: #afb1b8;
  --backgrand-color: #f5f4fa;
  --backgrand-icon: rgba(255, 255, 255, 0.1);
  --border-color: #ececec;
  --portfolio-color: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
}

.menu-logo {
  border: 1px solid var(--border-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px dotted var(--brand-color); */
}

.list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* menu */
.icon {
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
}
.icon:hover,
.icon:focus .icon:active {
  fill: var(--brand-color);
}
.menu-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  justify-content: space-between;
}
.first-menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-menu-box {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.first-part-logo {
  color: var(--brand-color);
}
.secend-part-logo {
  color: var(--white-color);
}

/* nawigacja */
.menu-nav {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}
.menu-nav:hover,
.menu-nav:focus {
  color: var(--brand-color);
}
.menu-mail {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: var(--p-color);
  margin-right: 50px;
}
.menu-mail:hover,
.menu-mail:focus {
  color: var(--brand-color);
}
.menu-phone {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  color: var(--p-color);
}
.menu-phone:hover,
.menu-phone:focus {
  color: var(--brand-color);
}
.menu-nav-active {
  text-decoration: none;
  cursor: pointer;
  color: var(--brand-color);
}
.menu-nav-active::after {
  content: "";
  display: block;
  background-color: var(--brand-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: relative;
  top: 32px;
}
/* hero */
.primary {
  background-color: var(--bg-color);
  background-image: url(../images/header-img.jpg),
    linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  border: 1px solid transparent;
  padding: 94px 0;
}
.primary-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 106px 252px 0;
  letter-spacing: 0.06em;
  text-align: center;
}
.primary-bg {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  background-color: var(--backgrand-color);
  padding: 10px 41px;
  margin-top: 30px;
  margin-bottom: 106px;
}
.primary-bg:hover {
  background-color: var(--brand-color);
  color: var(--white-color);
  border-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*atuty*/
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 0;
}
.feature-section {
  color: (--p-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.icon-advantages-box {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--backgrand-color);
  border-radius: 4px;
}

/* oferta */
.tender-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.tender-img {
  display: block;
  position: relative;
  overflow: hidden;
}

.title-img {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

/*zespół*/
.team {
  background-color: var(--backgrand-color);
  text-align: center;
  padding-bottom: 94px;
}
.team-card {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-bottom: 16px;
}
.social-box {
  display: flex;
  margin: 16px 32px 18px 32px;
  gap: 10px;
  list-style: none;
}

.icon-social {
  fill: var(--icon-color);
}

.icon-social:hover,
.icon-social:focus,
.icon-social:active {
  cursor: pointer;
  fill: var(--white-color);
  border-radius: 50%;
  background-color: var(--brand-color);
}

/* klienci */
.client-box {
  display: flex;
  list-style: none;
  fill: var(--icon-color);
  justify-content: space-around;
}
.client-icon-box {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
}

.client-icon-box:hover,
.client-icon-boxt:focus,
.client-icon-box:active {
  fill: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
}

/*stopka*/
.contact {
  background-color: var(--bg-color);
  height: 252px;
}
.contact-box {
  padding-top: 15%;
  list-style: none;
}
.contact-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}
.contact-data {
  text-decoration: none;
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
}
.contact-mail,
.contact-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.social-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.column1of3 {
  float: left;
  margin-right: 70px;
  margin-top: 15px;
}
.column2of3 {
  float: left;
  margin-top: 72px;
  margin-right: 78px;
}

.column3of3 {
  float: left;
  margin-top: 72px;
}

.icon-box {
  display: flex;
  gap: 10px;
  list-style: none;
}

.icon-social-footer {
  fill: var(--white-color);
  border-radius: 50%;
  background-color: var(--backgrand-icon);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-box:hover,
.icon-box:focus,
.icon-box:active {
  cursor: pointer;
  fill: var(--white-color);
}
.icon-social-footer:hover,
.icon-social-box:focus,
.icon-social-box:active {
  cursor: pointer;
  background-color: var(--brand-color);
}

.input-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.input-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  padding: 10px 62px 10px 42px;
  display: flex;
  align-items: center;
}

.icon-send {
  position: relative;
  top: 0;
  left: 24px;
}

.email-button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color);
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 155px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.buttom {
  display: flex;
}

/*portfolio*/

.filter {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 34px;
  margin-top: 94px;
}
.filter-bg {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-color);
  background-color: var(--backgrand-color);
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  width: 121px;
  height: 38px;
  padding: 6px 22px;
}
.filter-bg:hover,
.filter-bg:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
  border-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio {
  display: flex;
  background-color: var(--white-color);
  justify-content: space-between;
}
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  margin-top: 34px;
}
.portfolio-card {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid var(--portfolio-color);
  border-left: 1px solid var(--portfolio-color);
  border-right: 1px solid var(--portfolio-color);
  width: 370px;
}
.portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio-name {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-left: 24px;
}
.portfolio-job {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--p-color);
  padding-left: 24px;
}
.card-box {
  position: relative;
  overflow: hidden;
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translate(0);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description {
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
}

/* backdrop */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: auto;
  left: auto;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.is-hidden .modal {
  transform: scale(0.4);
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-imput {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.modal-checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-left: 55px;
  margin-right: 54px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
}

.modal-checkbox-statute {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--brand-color);
}

.modal-button {
  outline: none;
  background: var(--brand-color);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  padding: 10px 76px;
  margin-left: 164px;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--p-color);
}

.modal-imput-name {
  outline: none;
  border: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.modal-imput-name-active {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  position: relative;
  margin-bottom: 10px;
}

.modal-imput-name-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-imput-feedback {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  height: 96px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}
.modal-imput-feedback:hover,
.modal-imput-feedback:focus {
  border: 1px solid var(--brand-color);
  color: var(--text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-svg {
  position: absolute;
  top: 3px;
  left: -3px;
  background: var(--white-color);
  opacity: 1;
}

.modal-imput-name-active:hover,
.mmodal-imput-name-active:focus {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  outline: none;
  fill: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input {
  background-color: var(--white-color);
  margin: 0;
  appearance: none;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-checked {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-68%);
  opacity: 0;
  fill: var(--white-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-input:checked {
  opacity: 0;
}

.modal-checkbox-input:checked + .modal-checkbox-checked {
  opacity: 1;
}
