.menu__nav {
  text-decoration: none;
  cursor: pointer;
  color: $textColor;

  &:hover,
  &:focus {
    color: $brandColor;
  }
}
.menu__phone {
  @extend .menu__nav;
  font-weight: 500;
  color: $paragraphColor;

  &:hover,
  &:focus {
    color: $brandColor;
  }
}

.menu__mail {
  @extend .menu__phone;
  margin-right: 50px;

  &:hover,
  &:focus {
    color: $brandColor;
  }
}

.menu__nav--active {
  color: $brandColor;

  &:after {
    content: "";
    display: block;
    background-color: $brandColor;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: relative;
    top: 32px;
  }
}
